*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
# Allow APK files in releases directory
!releases/*.apk
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
*.jks
google-services.json
